body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgray;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: auto;
}

/*Font family*/
h1{
    font-size: 44px;
    font-weight: 800;
}
h2{
    font-size: 36px;
    font-weight: 800;
}
h4{
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
h5{
    font-size: 16px;
    padding: 0;
    margin: 2px 0;
    font-weight: 200;
}
h3{
    font-weight: 200;
    font-size: 22px;
}


/*Navigation*/
nav{
    width: 100%;
    height: 64px;
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
}
.logo{
    height: 32px;
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 24px;
}
a{
    color: black;
    text-decoration: none;
}
li{
    margin: 16px;
}
#ACADEMY{
    color: gray;
}


/*first_img_block*/
.img_block_container1{
    width: 100%;
    height: auto;
    display: flex;
    padding: 24px 0;
}
.img_block_container1 .img_block{
    width: 80%;
    background-image: url('../assets/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.img_block_container1 .img_block img{
    width: 100%;
    height: auto;

}
.img_block_container1 .text_block{
    width: 20%;
    min-width: 300px;
    height: auto;
    padding: 5% 15%;
    display: flex;
    flex-direction: column;

}
.img_block_container1 .text_block button{
    width: 300px;
    padding: 8px 80px;
    color: white;
    background-color: rgb(54, 54, 54);
    border-style: none;

}
.small_header{
    font-size: 28px;
    padding-bottom: 40px;
}



/*second_img_block*/
.img_block_container2{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
    padding: 40px 0;
    margin: 0;
}

.big_block{
    width: 60%;
    padding: 0 24px;
}
.big_block .image{
    background-image: url('../assets/images/information-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 512px;
    height: 60%;
}
.richtext{
    font-weight: 200;
    color: rgb(111, 111, 111);

}
.small_block{
    width: 40%;
    padding: 0px 10px;
}
.cube{
    display: flex; 
    align-items: flex-start;
    padding: 0 10px;
    padding-bottom: 10px;
}
.cube_textblock{
    width: 65%;
    padding: 10% 30px;
}
.small_image{
    width: 35%;
    height: 35%;
}